extends layout

block title
  | PigeonApp - A better way to build HTML Contact Form

block app
  section#intro
    include partials/header

    .page-white
      .padding
        .text-center
          h1 A better way to build HTML Contact Forms
          .spacer-5
          h3 Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness.
            br
            | Energistically scale future-proof core competencies vis-a-vis impactful experiences.
          .spacer-40
          a.pure-button.pure-button-accent(href='#signup', data-scroll)
            span Signup
    
    include partials/footer
      
  section#signup
    .page-cloud-brown
    .page-brown
      .padding
        .text-center
          form.pure-form
          
            input.pure-button.next-step.last-step(type='submit', style='display:none')
          
            div.step-indicator
              div
                span.fly-check.now
              div
                span.fly-check
              div
                span.fly-check
            
            .spacer-40
            
            .step.current-step.fade-in
              h1 We need to know more about you!
              h3 This information will be used to 
                strong activate 
                | your form and send 
                strong setup 
                | instructions
              
              .spacer-20
              
              fieldset.text-left
                label Your Email Address
                input.step-1-fields(type='email' placeholder='john@doe.com' name='creator-email' required value='luca@plasticpanda.com')

                .spacer-20

                label Your Phone Number
                input.step-1-fields.phone(type='tel' placeholder='+39 333 12312345' name='creator-phone-number' required value='3387798613')

              .text-center
                .spacer-20

                button.pure-button.next-step(type='button')
                  span Next
            
            .step
              fieldset.text-left
                label Website name
                input.step-2-fields(type='text' placeholder='My Personal Website' name='website-name' required value='aaa')
                
                .spacer-20

                label Destination Email address
                input.step-2-fields(type='text' placeholder='info@mywebsite.com' name='website-address' required value='luca@plasticpanda.com')
                
                .spacer-20

                label Website Domains 
                  small (Comma separated values)
                input.step-2-fields.domains(type='text' placeholder='localhost, mywebsite.com' name='website-domains' required)
                
                //-
                  .spacer-20

                  .advanced
                    label Success URL 
                    input(type='text' placeholder='mywebsite.com/success', name='website-success-url')

                    .spacer-20

                    label Error URL 
                    input(type='text' placeholder='mywebsite.com/error', name='website-error-url')

                    .spacer-20

                    label.label-link.advanced-toggle
                      i.fly-minus-squared
                      span Hide Advanced Settings

                  label.label-link.advanced-toggle
                    i.fly-plus-squared
                    span Advanced Settings
                
              .text-center
                .spacer-20

                button.pure-button.next-step.last-step(type='submit')
                  span Confirm

            .step
              h1 Thank you!
              .spacer-5
              h3 While we are packing the bags of your new Pigeon,
                br
                | please 
                strong click on the link 
                | we have sent to 
                strong your phone number
                br
                | to activate your account.
              .spacer-20
              p
                small ...or 
                  a.code(href='#') insert the code
                  |  you've received via SMS.
                
                .code-form
                  input(type='text' placeholder='Insert the 7 digits code' maxlength='7')
                  button.pure-button
                    span Activate
                  
              
      .spacer-100
              

block script
  script.
    (function () {

      NodeList.prototype.forEach = Array.prototype.forEach;
      HTMLCollection.prototype.forEach = Array.prototype.forEach;

      NodeList.prototype.on = function (event, listener) {
        this.forEach(function (el) {
          el.addEventListener(event, listener);
        });
      };
      
      
      var currentStep = 0;
      var steps = document.querySelectorAll('.step');
      var stepIndicators = document.querySelectorAll('.step-indicator span');
      var formNode = document.querySelector('.pure-form');
      
      
      formNode.addEventListener('submit', function (e) {
        e.preventDefault();
        return false;
      });
      
      document.querySelectorAll('.next-step').on('click', function () {
      
        // Form Validation

        var isValid = true;
        formNode.querySelectorAll('.step-' + (currentStep + 1) + '-fields').forEach(function (input) {
          console.log(input.classList);
          if (input.classList.contains('domains')) {
            const str = input.value;
            
            var valueCounter = 0;
            var values = str.split(',');
            values.forEach(function (domain) {
              if (domain.trim().length > 0) {
                valueCounter++;
              }
            })
            
            if (!valueCounter) {
              isValid = false;
            }
          } else {
            if (!input.checkValidity()) {
              isValid = false;
            }
          }
        });
        
        console.log('isValid', isValid);
        
        if (!isValid) {
          formNode.querySelector('input[type=submit]').click();
          return;
        }
        
        var oldStep = steps[currentStep];
        var oldStepIndicator = stepIndicators[currentStep];
        currentStep = currentStep + 1;
        var newStep = steps[currentStep];
        var newStepIndicator = stepIndicators[currentStep];
        
        oldStep.classList.add('fade-out');
        setTimeout(function () {
          oldStep.classList.remove('current-step');
          newStep.classList.add('current-step');
          setTimeout(function () {
            newStep.classList.add('fade-in');
          }, 100);
        }, 200);
        
        oldStepIndicator.classList.remove('now');
        setTimeout(function () {
          oldStepIndicator.classList.add('done');
        }, 100);
        
        newStepIndicator.classList.add('now');
        
        if (this.classList.contains('last-step')) {
          
          var formData = {};
          
          formNode.querySelectorAll('input').forEach(function (input) {
            var value = input.value.trim();
            
            if (input.classList.contains('phone')) {
              value = value.replace(/\ \-/g, '');
              if (!/\+39/.test(value)) {
                value = '+39' + value;
              }
            } else if (input.classList.contains('domains')) {
              value = value.replace(/\ /g, '');
              var rawDomains = value.split(',');
              var domains = [];
              rawDomains.forEach(function (domain) {
                domain = domain.trim();
                if (domain) {
                  domains.push(domain);
                }
              });
              value = domains.join(',');
            }
            
            if (input.name) {
              formData[input.name] = value;
            }
          });
          
          console.log('formData', formData);

          reqwest({
            url: '!{API_URL}',
            method: 'post',
            contentType: 'application/json',
            type: 'json',
            data: JSON.stringify(formData),
            success: function (res) {
              console.log('response', res);
            },
          });
        }
      });
      
      
      document.querySelectorAll('.advanced-toggle').on('click', function () {
        document.querySelector('.advanced').classList.toggle('show');
      });
      
      
      document.querySelector('.code').addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector('.code-form').classList.add('show');
      });

    })();
