extends layout

block title

block head

block app
  section#intro
    .page-light
      .padding
        .spacer-40
        .text-center
          img(src='static/img/pigeonapp-logo.png' width='100' height='100')

        .spacer-150

    .page-white
      .padding
        .text-center
          h1 A better way to build HTML Contact Form
          .spacer-5
          h3 Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness.
            br
            | Energistically scale future-proof core competencies vis-a-vis impactful experiences.
          .spacer-40
          button.pure-button.pure-button-accent(onclick='document.getElementById("signup").classList.add("now");')
            span Signup
    footer
      .text-center
        img(src='static/img/madewithlove.png' height='20' width='115')
        .spacer-10
        img(src='static/img/plasticpanda-logo.png' height='22' width='125')

      ul.text-center
        li &copy; 2015
        li: a(href='#') Privacy Policy
        li: a(href='#') fly@pigeonapp.im
      
  section#signup
    .page-cloud-brown
    .page-brown
      .padding
        .text-center
          form.pure-form
            div.step-indicator
              span.fly-check.now
              span.fly-check
              span.fly-check
            
            .spacer-40
            
            .step.current-step
              fieldset.text-left
                label Your Email Address
                input(type='email' placeholder='john@doe.com')

                .spacer-20

                label Your Phone Number
                input(type='tel' placeholder='+39 333 12312345')

              .text-center
                .spacer-20

                button.pure-button.next-step(type='button')
                  span Next
            
            .step
              fieldset.text-left
                label Website name
                input(type='text' placeholder='My Personal Website')
                
                .spacer-20

                label Destination Email address
                input(type='text' placeholder='info@mywebsite.com')
                
                .spacer-20

                label Website Domains 
                  small (Comma separated values)
                input(type='text' placeholder='localhost, mywebsite.com')
                
              .text-center
                .spacer-20

                button.pure-button.next-step(type='button')
                  span Confirm
            
            .step
              h1 Thank you!
              .spacer-5
              h3 While we are packing the bags of your new Pigeon,
                br
                | please 
                strong click on the link 
                | we have sent to 
                strong your phone number
                br
                | to activate your account.
              
              

block script
  script.
    (function () {

      NodeList.prototype.forEach = Array.prototype.forEach;
      HTMLCollection.prototype.forEach = Array.prototype.forEach;

      NodeList.prototype.on = function (event, listener) {
        this.forEach(function (el) {
          el.addEventListener(event, listener);
        });
      };
      
      
      var currentStep = 0;
      var steps = document.querySelectorAll('.step');
      var stepIndicators = document.querySelectorAll('.step-indicator span');
      
      document.querySelectorAll('.next-step').on('click', function () {
      
        // Form Validation
      
        steps[currentStep].classList.remove('current-step');
        stepIndicators[currentStep].classList.add('done');
        stepIndicators[currentStep].classList.remove('now');
        
        currentStep = currentStep + 1;
        
        steps[currentStep].classList.add('current-step');
        stepIndicators[currentStep].classList.add('now');
      });

    })();