extends ../layout

block title
  | Thanks!

block app
  section#activate.page-plain-light
    .page-cloud-white
    .page-white
      .spacer-40
      .padding
        .text-center
          span.circled
            span.fly-check
          h1 Your e-mail address has been verified
          p You can now 
            a.stronglink(href='javascript:window.close()') close this page
                  
              
      .spacer-20
