extends ../layout

block title
  | Verifying your credentials...

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/js-url/2.0.2/url.min.js')
  script.
    var tokenP = url('?p');
    var tokenE = url('?e');
    
    if (tokenP) {
      window.location.href = 'https://api.pigeonapp.im/p/' + tokenP;
    } else if (tokenE) {
      window.location.href = 'https://api.pigeonapp.im/e/' + tokenE;
    }
