extends ../layout

block title
  | PigeonApp - Verifying your phone

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/js-url/2.0.2/url.min.js')
  script.
    var token = url('?p');
    window.location.href = 'https://api.pigeonapp.im/p/' + token;