extends ../layout

block title
  | PigeonApp - Thank you for flying with us!

block app
  section
    include ../partials/header
      
  section#confirm
    .page-cloud-brown
    .page-brown
      .padding
        .text-center
          form.pure-form
            div.step-indicator
              div
                span.fly-check.done
              div
                span.fly-check.done
              div
                span.fly-check.now.done
            
            .spacer-40
            
            .step.current-step
              h1 You are now ready to fly!
              .spacer-5
              h3 Now that everything is completed, we are sending
              h3.text-left
                | 1 - An 
                strong email to your address 
                | with instructions on how to 
                strong integrate PigeonApp in your website
                | .
              h3.text-left
                | 2 - A 
                strong confirmation email to the destination address 
                | just to ensure Pigeon will not be used against its purpose.
              
              .spacer-20
              p
                small Thanks for flying with us!
                
                .code-form
                  input(type='text' placeholder='Insert the 7 digits code' maxlength='7')
                  button.pure-button
                    span Activate
                  
              
      .spacer-20
  
  section#footer
    .page-cloud-white
    .page-white
      include ../partials/footer
      .spacer-20
